h1 {
	font-size: 5em;											
	color: rgba(0,0,0,0.6);
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}

#generatedcode {
	width:100%;
	margin:5px;
	padding:3px;
	outline: none !important;
}

#generatecode {
	margin: 15px;
}	

.app-container {
	margin-top: 40px;
	text-align: center;
	background: #333;
	background: linear-gradient(to bottom, #eee, #ccc);
	padding: 3px;
	padding-top: 0;
	border-radius: 5px;
}
.app-controls {
	background: #999;
	margin: 0 -3px;
	padding: 10px 0;
	margin-bottom: 15px;
}

label {
	display: inline-block;
	font-weight: bold;
}

#palettes .sp-palette {
    max-width: 500px;
}